
<div class="mx-5 mt-5">
<div class="shadow mb-1 bg-white">  
    <a   routerLink="" class="btn " role="button" aria-disabled="true">  <i class="bi bi-house-heart-fill"></i> HOME</a>
</div>
<div class="shadow  mb-2 bg-white">  
    <a routerLink="video" class="btn " role="button" aria-disabled="true">  <i class="bi bi-house-heart-fill"></i> Video</a>
</div>
<div class="shadow  mb-2 bg-white">  
    <a class="btn " role="button" aria-disabled="true">  <i class="bi bi-house-heart-fill"></i> HOME</a>
</div>
<div class="shadow  mb-2 bg-white">  
    <a class="btn " role="button" aria-disabled="true">  <i class="bi bi-house-heart-fill"></i> HOME</a>
</div>
</div>
